# CODEOWNER reference examples: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

*   @bcgov/public-cloud-team-aws-devs @bcgov/public-cloud-team-aws-platform-admins @bcgov/public-cloud-team-azure-devs @bcgov/public-cloud-team-azure-platform-admins
